.logo {
    width: 40px;
    height: 40px;
    @include media-breakpoint-up(md) {
        width: 53px;
        height: 53px;
    }
}
.header-link-hover:hover {
    color: #9c9e18;
}
.input-group {
    width: 207px;
    @include media-breakpoint-up(md) {
        width: 335px;
    }
    input {
        height: 40px;
        @include media-breakpoint-up(md) {
            height: auto;
        }
    }
}
